/* 版心 */
.container{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
header .container{
    position: relative;
    width: 1320px;
    margin: 0 auto;
}
/* 清除浮动 */
.clearfix:before,
.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.container{
    *zoom: 1;
}
/* 导航共同样式 */
