/*中间的大图片 */
.main-img{
    width: 100%;
}
.main-img img{
    width: 100%;
}
/* 中间内容 */
/* 头像和标题 */
.essay-main{
    position: absolute;
    top: 630px;
    width: 100%;
    height: 72px;
}
.essay-main h2{
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    margin-left: 150px;
}
.essay-main img{
    position: absolute;
    left: 0;
    top: -10px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.essay-main a{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.essay-main a:after{
    content: "";
    position: absolute;
    left: -8px;
    top: -40px;
    width: 38px;
    height: 33px;
    background-image: url(../images/jl-2.png);
    background-position: -60px 0px;
}
.essay-main-lv{
    width: 100%;
    height: 81px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}
.essay-main-lv .container{
    height: 81px;
}
.essay-main-lv a{
    float: left;
    color: #ff9e00;
    margin-left: 130px;
    margin-top: 20px;
}
.essay-main-lv b{
    float: left;
    color: #ea3c1a;
    margin: 0px 6px;
    margin-top: 20px;
}
.essay-main-lv span{
    float: left;
    color: #fff;
    border-radius: 2px;
    margin-top: 20px;
    padding: 2 4px;
    background-color: #d67b18;
}
.essay-main-lv s{
    float: left;
    color: #acacac;
    margin: 0 14px;
    margin-right: 30px;
    margin-top: 20px;
}
.essay-main-lv i{
    float: left;
    position: relative;
    margin-top: 20px;
    color: #acacac;
}
.essay-main-lv i:before{
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    width: 20px;
    height: 16px;
    background-image: url(../images/jl-2.png);
    background-position: -30px -50px;
}
.essay-main-lv ul{
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 200px;
    margin-top: 20px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px solid #ff9e00;
}
.essay-main-lv ul li{
    position: absolute;
    top: 10px;
    left: 15px;
    float: left;
    width: 4px;
    height: 16px;
    margin:0 2px;
    background-color: #ff9e00;
}
.essay-main-lv ul img{
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 1;
}
.essay-main-lv-sc,
.essay-main-lv-fx{
    position: relative;
    float: left;
    width: 120px;
    height: 100%;
    text-align: center;
    margin-left: 30px;
    border-left: 1px solid #acacac;
    border-right: 1px solid #acacac;
}
.essay-main-lv-sc p,
.essay-main-lv-fx p{
    font-size: 14px;
    color: #666;
    margin-top: 50px;
}
.essay-main-lv-sc p:after{
    content: "";
    position: absolute;
    top: 16px;
    left: 45px;
    width: 25px;
    height: 25px;
    background: url(../images/essay-jl-1.png) ;
    background-position:-240px -576px ;
}
.essay-main-lv-fx{
    border-left: none;
    margin-left: 0
}
.essay-main-lv-fx p:after{
    content: "";
    position: absolute;
    top: 16px;
    left: 45px;
    width: 25px;
    height: 25px;
    background: url(../images/essay-jl-1.png) ;
    background-position:-269px -576px ;
}
/* 、固定导航 */
.fixed-nav{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 62px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
    opacity: 0.9;
}
.fixed-nav .fixed-nav-index{
    position: relative;
    float: left;
    width: 36px;
    height: 36px;
    margin-top: 10px;
    margin-right: 10px;
    background-image: url(../images/essay-fixed-nav.png);
}
.fixed-nav .fixed-nav-index:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;    
    width: 36px;
    height: 36px;
    background: url(../images/essay-fixed-nav-2.png) no-repeat -301px -266px;
    z-index: 5;
}
.fixed-nav  h4{
    float: left;
    color: #ff9e00;
    font-size: 14px;
    font-weight: normal;
    line-height: 62px;
    margin-right: 180px;
}
.fixed-nav  h4 span{
    color: #999;
}
.fixed-nav b{
    color: #999;
    font-size: 14px;
    font-weight: normal;
    line-height: 62px;
}
.fixed-nav .top-nav-right{
    float: right;
    margin-top: 18px;
}
.fixed-nav .fixed-nav-dl{
    width: 120px;
    height: 20px;
    line-height: 18px;
    font-size: 14px;
}
.fixed-nav .top-nav-right span{
    float: left;
    padding: 4px 10px;
    border: 1px solid #ff9e00;
}
/* 内容  时间  左边 */
.main-left{
    float: left;
    width: 680px;
}
.main-left-time{
    width: 680px;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px dashed #ccc;
}
.main-left-time li{
    float: left;
    font-size: 14px;
    padding-left: 30px;
    margin-right: 22px;
    margin-bottom: 16px;
    line-height: 22px;
    background-image: url(../images/essay-time-1.png);
    background-repeat: no-repeat;
    background-position: -22px 0;
}
.main-left-time li:nth-child(2){
    background-position: -22px -22px;
}
.main-left-time li:nth-child(3){
    background-position: -22px -44px;
}
.main-left-time li:nth-child(4){
    background-position: -22px -66px;
}
.main-left-time li span{
    color: #ff9e00;
    margin: 0px 4px;
}
/* 视频 */
.main-left-video{
    width: 100%;
    margin-top: 40px;
}
.main-left-video p{
    font-size: 16px;
    /* line-height: 80px; */
}
.main-left-video video{
    width: 100%;
    height: auto;
    /* margin-top: 40px; */
    vertical-align: middle;
}
.main-left-video p{
    margin-top: 0 !important;
}
.main-left-video-site{
    position: relative;
    font-size: 14px;
    padding: 20px;
    padding-left: 40px;
    background-color: #f8f8f8;
}
.main-left-video-site:before{
    content: "";
    position: absolute;
    left: 18px;
    top: 19px;
    width: 14px;
    height: 16px;
    background-image: url(../images/jl-2.png);
    background-position: 0px -50px;
}

/* 视频下文字 */
.main-left-video-text,
.main-left-img-text p{
    margin: 20px 0;
    line-height: 30px;
}

/* 网走 */
.main-left-img-text{
    font-size: 14px;
}
.main-left-wangz-a{
    display: block;
    position: relative;
    color: #999;
    margin: 20px 0;
    padding-left: 30px;
}
.main-left-wangz-a:after{
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 24px;
    height: 24px;
    background: url(../images/essay-fixed-nav-2.png);
    background-repeat: no-repeat;
    background-position: -75px -203px;
}
.main-left-wangz-a:hover{
    color: #ff8a00;
}
/* 鼠标经过图片显示 */
.main-left-wangz-img{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 680px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 20px;
    vertical-align: middle;
    box-sizing: border-box;
    z-index: 20;
}
.main-left-wangz-img span{
    float: left;
    margin-right: 10px;
}
.main-left-wangz-img>i{
    float: left;;
    width: 25px;
    height: 25px;
    margin-top: 7px;
    margin-right: 6px;
    border-radius: 2px;
    background-color: #d44e50;
    background-image: url(../images/main-left-wangz-img.png);
    background-position: 0 0;
}
.main-left-wangz-img>i:nth-child(2){
    background-color: #448dbe;
    background-position: -25px 0;
}
.main-left-wangz-img span:nth-child(4),
.main-left-wangz-img span:nth-child(5){
    position: relative;
    padding-left: 40px;
}
.main-left-wangz-img span:nth-child(4) i,
.main-left-wangz-img span:nth-child(5) i{
    content: "";
    position: absolute;
    left: 20px;
    top: 12px;
    width: 16px;
    height: 16px;
    background: url(../images/main-left-wangz-img.png);
    background-repeat: no-repeat;
    background-position: -25px -25px;
}

.main-left-wangz-img span:nth-child(5)  i{
    background-position: 0 -25px;
}
.main-left-wangz-img b{
    position: relative;
    float: right;
    padding-right: 30px;
    font-size: 16px;
    font-weight: normal;
}
.main-left-wangz-img b:after{
    content: "";
    position: absolute;
    top: 7px;
    right: 0;
    width: 25px;
    height: 25px;
    background: url(../images/main-left-wangz-img.png) no-repeat -50px -25px;
}

/* 中间左边内容 */
.main-right{
    position: relative;
    float: left;
    width: 240px;
    color: #666;
    margin-left: 50px;
}
.main-right h4{
    position: relative;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 12px;
}
.main-right h3{
    position: absolute;
    top: 130px;
    left: 12px;
    color: #fff;
    font-size: 40px;
    font-weight: normal;
}
.main-right img{
    width: 240px;
}
.main-right h4 span{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
}
.main-right h4 i{
    position: absolute;
    top: 28px;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url(../images/essay-jl-2.png);
    background-position: -413px -257px;
}
.main-right-bourn-star{
    position: relative;
    width: 240px;
    padding: 4px;
    margin-top: 30px;
    border: 1px solid #d6d6d6;
    box-shadow:0 2px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.main-right-bourn-star i{
    position: absolute;
    top: -2px;
    left: 10px;
    width: 44px;
    height: 46px;
    background-image: url(../images/essay-jl-3.png);
    background-position: -50px -100px;
}
.main-right-bourn-star img{
    width: 230px;
    margin-bottom: 16px;
}

/* 相关攻略 */
.main-right-str{
    position: relative ;
    width: 240px !important;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.main-right-str h2{
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 20px;
}
.main-right-str .swiper-slide span{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    font-size: 14px;
}
.main-right-str .swiper-slide span i{
    float: left;
    width: 21px;
    height: 16px;
    margin-right: 6px;
    background-image: url(../images/main-right-str-eye.png);
}
.main-right-str .swiper-slide h3{
    position: absolute;
    left: 10px;
    top: 110px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}
/* 小圆点导航 */
.swiper-pagination{
    position: absolute !important;
    bottom: 0 !important;
    /* margin-bottom: -20px; */
}
.swiper-container{
    height: 210px !important;
}
.swiper-pagination-bullet{
    width: 79px !important;
    height: 4px !important;
    border-radius: 0%;
    margin: 0 1px !important;
    margin-left: 0 !important;
}
.swiper-pagination-bullet:last-child{
    margin-right: 0 !important;
}
.swiper-pagination-bullet-active{
    background-color: #ff8a00 !important;
}

/* 相关游记轮播 */
.main-right-tra{
    margin-top: 0;
    padding: 20px 0 0;
    background-color: #fff;
}
.main-right-bourn-fix{
    display: none;
    position: fixed;
    top: 62px;
    width: 240px;
    height: 40px;
    line-height: 40px;
    padding:0 10px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f6f6f6;
    z-index: 30;
}
.main-right-bourn-fix span{
    color: #ff8a00;
}
.main-right-bourn-fix i{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 20px;
    height: 20px;
    background-image: url(../images/essay-jl-2.png);
    background-position: -413px -257px;
}

/* 游记目录 */
.main-right-log{
    width: 240px;
    line-height: 26px;
}
.main-right-log h2{
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 20px;
}
.main-right-log li{
    font-size: 14px;
    padding: 0 10px;
}
.main-right-log ul{
    float: right;
    width: 210px;
}
.main-right-log li span{
    color: #ccc;
    margin-right: 10px;
    margin-left: -30px;
}
.main-right-log li a{
    color: #999;
    text-align: left;
}

/* 动物 */
.essay-dong{
    position: fixed;
    bottom: 300px;
    left: -100px;
    width: 50px;
    height: 130px;
}
.essay-dong span{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000;
}
.essay-dong span:nth-child(2){
    position: absolute;
    top: 25px;
    left: 4px;
}
.essay-dong span:nth-child(3){
    position: absolute;
    top: 70px;
    left: 4px;
}
 /* 鼠标经过动物   日本旅行推荐 */
 .essay-guide{
    position: fixed;
    bottom: 300px;
    left: -600px;
    width: 560px;
    height: 280px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.6);
 }
 .essay-guide-left{
     float: left;
     width: 90px;
     height: 100%;
     
     background-color: #f9f9f9;
 }
 .essay-guide-left h2{
     color: #fff;
     font-size: 16px;
     text-align: center;
     line-height: 50px;
     background-color: #ff9e00;
 }
 .essay-guide-right{
     position: relative;
     float: left;
     width: 470px;
     height: 100%;
     padding:0 14px;
     box-sizing: border-box;
     border-left: 1px solid #ccc;
 }
 .essay-guide-right b{
     position: absolute;
     top: 0px;
     right: 10px;
     color: #999;
     font-size: 30px;
     font-weight: initial;
     cursor: pointer;
 }
 .essay-guide-right h3{
     line-height: 40px;
     border-bottom: 1px solid #ccc;
 }
 .essay-guide-new{
     position: relative;
     height: 85px;
     padding: 20px 0 10px;
     border-bottom: 1px dotted #ccc;
 }
 .essay-guide-new img{
     float: left;
 }
 .essay-guide-new a{
     float: left;
     width: 300px;
     color: #ff9e00;
     font-size: 16px;
     font-weight: bold;
     line-height: 22px;
     margin-left: 8px;
 }
 .essay-guide-new i{
     position: absolute;
     bottom: 4px;
     right: 10px;
     color: #ff9e00;
     font-size: 20px;
     font-weight: bold;
 }
 .essay-guide-right ul{
     padding: 10px 0;
 }
 .essay-guide-right ul span{
     color: #67b5f2;
     padding: 2px;
     font-weight: normal;
     border: 1px solid #67b5f2;
 }
 .essay-guide-right ul li{
     font-size: 14px;
     font-weight: bold;
     line-height: 30px;
 }
 .essay-guide-right ul li:nth-child(2){
     margin-left: 65px;
 }
 .essay-guide-right ul i{
     float: right;
     color: #ff9e00;
     font-size: 14px;
     font-weight: bold;
 }